
body {
  background-color: #4e4b4b;
}

#container {
  display: flex;
  text-align: center;
  box-shadow: 2px 2px 2px 2px #0A0A0A;
  background-color: white;
  width: 200px;
  margin: 200px auto;
  padding-bottom: 10px;
}

.temperature {
  display: flex;
  flex-flow: column;
  flex-grow: 0.5;
  justify-content: center;
  width: 30px;
  text-align: left;
}

.day-forecast {
  display: flex;
  justify-content: space-around;
}

#weekly-forecast {
  width: 100%;
  flex-grow: 1;
}

h3 {
  margin: 10px 0 10px 0;
}

#err {
  color: #6c2012;
  text-align: center;
  margin: 0 auto;
}
